# Archivos de configuración del IDE
.idea/
*.iml

# Archivos generados por Maven/Gradle
/target/
/bin/
/build/

# Archivos sensibles
application.properties
*.log

# Sistema operativo
.DS_Store
Thumbs.db

